html {
	
}

body {
	background-color:#5f6769;
}

.container {
	max-width: 450px;
	height: auto;
	background-color: #EFEFEF;
	
	padding-bottom: 1rem;
	
}

.form__top {
	width: 100%;
	text-align: center;
	padding: 2rem 0 1rem;
	border-top: solid .4rem #3c4245;
	margin-bottom: 1rem;
}

.form__top h2 {
	font-weight: bold;
	color: #CAC8C8;
	font-size: 18px;
}

h2 span {
	color: #3c4245;
}

.form__reg {
	padding: 0 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.btn__form {
	display: flex;
	justify-content: space-around;
	
}

.input, .btn__submit, .btn__reset{
	background-color: #EFEFEF;
	padding: .3rem;
	margin: .3rem 0;
	border: none;
	border-bottom: solid #C8C8C8 .2rem;
	transition: all .5s;
}

.input:focus {
	border-bottom: solid  .2rem;
}

.btn__submit, .btn__reset {
	
	border-bottom: none;

    display: block;
    text-decoration: none;
    color: #dfcdc3;

}


.btn__reset {
	background-color: #3c4245;
}

.btn__submit:hover {
	background-color:#5f6769;
}

.btn__reset:hover{
	background-color: #3c4245;
}